<!--<p>create-content works!</p>-->
<div>
  <h2>Enter item id: </h2><input #newId>
  <h2>Enter item author: </h2><input #newAuthor>
  <h2>Enter item's url for image: </h2><input #newImgUrl>
  <h2>Enter item type: </h2><input #newType>
  <h2>Enter item title: </h2><input #newTitle>
  <h2>Enter item body: </h2><input #newBody>
  <h2>Enter item tags: </h2><input #newTags>
  <div>
    <button type=submit >Search</button>
  </div>

  </div>
  <div>
    <h2>Entered item id: </h2>{{ newId.value }}
    <h2>Entered item author: </h2>{{ newAuthor.value }}
    <h2>Entered item's url for image: </h2>{{ newImgUrl.value }}
    <h2>Entered item type: </h2>{{ newType.value }}
    <h2>Entered item title: </h2>{{ newTitle.value }}
    <h2>Entered item body: </h2>{{ newBody.value }}
    <h2>Entered item tags: </h2>{{ newTags.value }}
</div>
