<!--<p>content-list works!</p>-->
<!--display 5 ContentCard's by passing in your Content array's values-->
<!--<script src="script.js"></script>-->
<app-content-card *ngFor="let item of newContent; last as isLast" [content]="item" [class.is-last]="isLast">
<div class="box">
  <p><strong>ID: {{ item.id }}.</strong></p>
  <p><strong>ID: {{ item.author }}.</strong></p>
  <p><strong>Type:</strong> {{ item.type }}</p>
  <p><strong>Tags:</strong> {{ item.tags }}</p>
  <img class="images" [src]="item.imgUrl">
</div>
</app-content-card>
<script>
  import {needClickImage} from "./src/assets/script.js";

  needClickImage()
</script>
