<!--<p>content-list works!</p>-->
<!--display 5 ContentCard's by passing in your Content array's values-->

<div class="user_input">
  <h2>Enter a song title to search for: </h2>
  <input #song_title>

  <div>
    <button (click)="putAlert()">Search</button>
  </div>
</div>
<div>
  <h3>
    Your entered value:
  </h3>
  <h4>{{ song_title.value }}</h4>

</div>

<app-content-card *ngFor="let item of newContent | filterContent: 'Pop'"
                  [content]="item" class="pop_items" >
</app-content-card>

<!--<app-content-card *ngFor="let item of newContent | filterContent: 'Pop Fun'; let item of newContent;-->
<!--last as isLast" [content]="item" [class.is-last]="isLast">-->
<!--</app-content-card>-->
<app-content-card *ngFor="let item of newContent | filterContent: 'Pop Fun'"
                  [content]="item" class="pop_fun">
</app-content-card>

