<!--<p>content-card works!</p>-->

<div class="box">
  <p id="iD"><strong>ID: {{ content.id }}.</strong></p>
  <p><strong>Author:</strong> {{ content.author }}</p>
  <p><strong>Title:</strong> {{ content.title }}</p>
  <p><strong>Description:</strong> {{ content.body }}</p>
  <p *ngIf = "content.type"><strong>Type:</strong> {{ content.type }}</p>
  <p *ngIf = "content.tags"><strong>Tags:</strong> {{ content.tags }}</p>
  <img class="images" [src]="content.imgUrl" id="img" (click)="showID()" *ngIf = "content.imgUrl">
</div>




