<p>content-card works!</p>

<p><strong>ID: </strong>{{ anotherContent.getContent[0].id}}
  <strong> . Author: </strong>{{ anotherContent.getContent[0].author}}
  <strong> . Title: </strong> {{ anotherContent.getContent[0].title}}
  <strong> . Body: </strong>{{ anotherContent.getContent[0].body}}</p>

<p><strong>ID: </strong>{{ anotherContent.getContent[1].id}}
  <strong> . Author: </strong>{{ anotherContent.getContent[1].author}}
  <strong> . Title: </strong> {{ anotherContent.getContent[1].title}}
  <strong> . Body: </strong>{{ anotherContent.getContent[1].body}}</p>

<p><strong>ID: </strong>{{ anotherContent.getContent[2].id}}
  <strong> . Author: </strong>{{ anotherContent.getContent[2].author}}
  <strong> . Title: </strong> {{ anotherContent.getContent[2].title}}
  <strong> . Body: </strong>{{ anotherContent.getContent[2].body}}</p>

